header {
    width: 100%;
    height: 10%;
    text-align: center;
}

header h1 {
    font-size: 40px;
}

.container {
    width: 97%;
    padding: 20px;
    margin: 15px auto;
    border: 2px solid black;
}

.header-name {
    text-decoration: underline;
}

/* Color Section */

.color-container div {
    display: inline-block;
    height: 90px;
    width: 300px;
    margin: 5px auto;
    text-align: center;
}

.pale-blue {
    background-color: #CEE6F9;
}

.royal-blue {
    background-color: #4A8BDF;
    color: white;
}

.eggplant {
    background-color: #A0006D;
    color: white;
}

/* Fonts Section */

.font-container div {
    display: inline-block;
    margin: 5px 20px;
    padding: 2px;
    text-align: left;
    font-size: larger;
}

.main {
    font-weight: bolder;
    text-decoration: underline;
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style:italic;
}

.underline {
    text-decoration: underline;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

/* Font Style Section */

.text-styles .merriweather  {
    font-weight: 700px;
    font-size: 26px;
}

.text-styles .lato {
    font-weight: 500px;
    font-size: 18px;
}

.text-styles .raleway {
    font-weight: 400px;
    font-size: 18px;
}
